name: Run Exoplanets Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Authenticate to Google
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: Download dataset zip from Google Drive
        env:
          DRIVE_FILE_ID: ${{ secrets.DRIVE_FILE_ID }}
          DRIVE_OUT_PATH: data/${{ secrets.DRIVE_OUTPUT_NAME }}
          GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}
        run: |
          python src/download_drive_file.py
          ls -lh data

      - name: Unzip dataset into data/
        run: |
          unzip -o "data/${{ secrets.DRIVE_OUTPUT_NAME }}" -d data/
          ls -lh data

      - name: Run main script
        run: |
          python src/main.py

      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: results/
